/* Die Überschrift ragt über die Adresszeile, ist also nicht lesbar. 
Suche einen Fix
Farben, müssen auch geändert werden */

/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%); 
    --blue: hsl(212, 86%, 64%); 
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --border-radius: 10px;
}

body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark-blue);
}

.header {
    max-width: 500px;
    margin-bottom: 4rem;
}

.card-wrapper {
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    ". team ."
    "supervisor team calculator"
    "supervisor ideas calculator"
    ". ideas .";
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.card {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.7em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    height: 250px;
    width: 350px;
    border-radius: var(--border-radius);
    padding: 2rem;
    text-align: left;
    /* 
    border ist hier nicht das Richtige. Der Strich oben muss gerade sein. Vielleicht mit before machen. Vielleich einen leeren span. Vorher war hier: border-top: 4px solid red;  */
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    --br: .325rem;
    border-radius: var(--br);
    border-top: var(--br) solid black; 
}

.card picture {
    align-self: flex-end;
    margin-top: 2rem;
}

.card1 {
    grid-area: supervisor;
    border-color: var(--cyan);
}

.card2 {
    grid-area: team;
    border-color: var(--red);
}

.card3 {
    grid-area: ideas;
    border-color: var(--orange);
}

.card4 {
    grid-area: calculator;
    border-color: var(--blue);
}

h1 {
    font-weight: 200;
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

.bold {
    font-weight: 600;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
}

@media (max-width: 600px) {
    .card-wrapper {
        display: flex; 
        flex-direction: column;
    }
}